.my-simonNumber{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
    box-shadow: 0px 10px 13px -7px #00000073, 5px 5px 15px 5px rgba(0,0,0,0);
    background-color: #1e1e1e;
    transition: transform .2s;
    user-select: none;
}

.my-simonNumber:hover{
    transform: scale(1.1);
}

.my-bgOrange{
    background-color: #FF5733;
}

.my-bgPurple{
    background-color: #900C3F;
}

.my-bgGreen{
    background-color: #00bd23;
}

.my-bgBlue{
    background-color: #3380FF;
}

.my-bgPink{
    background-color: #FF33F6;
}